extends layoutcop
<iframe width="560" height="315" src="https://www.youtube.com/embed/zgy-pPBiDxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
block conten_tit
  <p></p>
  <p  class="alignCenter"> <span style="font-size:30px"> Thanh Long - 40.000/1kg </p>
  <p  class="alignCenter"> <span style="font-size:30px"> Chủ tài khoản: HTK Trân. STK: 201712828. </p>
  <p  class="alignCenter"> <span style="font-size:30px">  Ngân hàng: 86BANK </p>
  <p  class="alignCenter"> <span style="font-size:30px"> Nhập thông tin và chuyển khoản chúng tôi sẽ ship hàng cho bạn </p>
block button
 div.container
      div.header.clearfix
        ul.center_but.nav.nav-pills 
          li(role="presentation").active
            a(href='/order/create_payment_url') Nạp tiền để thanh toán

 

 