doctype html
html
 
    
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/70f52e768bd419042ed8d9ab1/7c0a3356f282114ff6a01c8b7.js");</script>
   
    
    div.container
      div.header.clearfix
        ul.nav.nav-pills.pull-right
          li(role="presentation").active
            a(href='/order/create_payment_url') Tạo mới
        h3.text-muted VNPAY DEMO - nguồn tại Sanbox.vnpayment.vn
        h3.text-muted 1712828 - Huỳnh Thanh Khải Trân - Nhóm HCMUS-EC-20B01
        h2.text-muted Video về cánh đồng thanh long bình thuận
        <iframe width="854" height="480" src="https://www.youtube.com/embed/zgy-pPBiDxg?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        h4.text-muted Kể từ cuối năm 2017, kênh phải được 1000 đăng ký và 4000 giờ xem trong 12 tháng mới được dẫn link
        h4.text-muted Nhấp vào link dưới để đăng ký nhận thông tin quảng cáo (từ dv mailchimp):
        <a href= "http://eepurl.com/g62hAj" >Nhấp vào đây bạn ei </a>
       <img  src="../images/thanhlong.jpg" width="50%" class="cangiua"/>
        
       
     
      block conten_tit
       
      block button 

 
      footer.footer
        p &copy; VNPAY #{new Date().getFullYear()}
      
 